{% extends "_base.html" %} 
{% block title %}About page{% endblock title %} {% blockcontent %}

<h1 class="py-6 text-4xl">Liability Disclaimer for bom-squad.com</h1>

<div class="flex flex-col space-y-4">
  <p>
    The Bom Squad website ("the Website") provides information about Eurorack
    modules, including bill of materials (BOM) and related details. However, Bom
    Squad ("we" or "us") cannot guarantee the accuracy, completeness, or
    reliability of the information on the Website.
  </p>

  <p>
    The information on the Website is for general informational purposes only
    and should not be considered professional advice. Users should exercise
    their own judgment and verify the accuracy of the BOM or other information
    before relying on it for any purpose, including building Eurorack modules.
  </p>

  <p>
    We do not assume any liability for errors, omissions, or inaccuracies in the
    BOM or other information provided on the Website. We are not responsible for
    any loss, damage, injury, or inconvenience arising from the use of the
    Website or reliance on its information, including direct, indirect,
    consequential, or incidental damages.
  </p>

  <p>
    Users acknowledge that they use the Website at their own risk, and Bom Squad
    is not responsible for any consequences from the use or reliance on its
    information.
  </p>

  <p>
    The Website may contain links to third-party websites or resources not under
    our control. We do not endorse, warrant, or guarantee the accuracy,
    reliability, or legality of any content, products, services, or information
    on such third-party websites. Users acknowledge that they access and use
    third-party websites or resources at their own risk, and Bom Squad is not
    liable for any loss or damage arising from such use.
  </p>

  <p>
    By using the Website, users agree to release, indemnify, and hold harmless
    Bom Squad, its officers, employees, agents, and affiliates from any claims,
    damages, liabilities, costs, and expenses (including attorney's fees)
    arising from the use of the Website or reliance on its information.
  </p>

  <p>
    This liability disclaimer is governed by the laws of the jurisdiction where
    Bom Squad is based, without regard to conflict of law principles. Any
    disputes arising from this liability disclaimer are subject to the exclusive
    jurisdiction of the courts in the jurisdiction where Bom Squad is based.
  </p>

  <p>
    By using the Website, users acknowledge that they have read, understood, and
    agreed to this liability disclaimer in its entirety. If users do not agree
    with any part of this liability disclaimer, they should refrain from using
    the Website.
  </p>
</div>
{% endblock content %}
