{% extends '_base.html' %}

{% load comments %}
{% load comments_xtd %}

{% block title %}
  Community Notes
{% endblock title %}

{% block content %}
<div class="w-full">
    <div id="comments">
        {% include "pages/comments_list.html" with page_obj=page_obj end_of_comments=False %}
    </div>
    <div id="loading" class="w-full text-center text-gray-500 loading animate-pulse bold" style="display: none; height: 100px;">
        <div>
            <p>Loading...</p>
        </div>
    </div>
    <div id="no-more-comments" class="w-full text-center text-gray-500 bold" style="display: none; height: 100px;">
        <div>
            <p>No more comments!</p>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let page = 1;
        let loading = false;
        let endOfComments = false;

        window.addEventListener('scroll', () => {
            if (window.scrollY + window.innerHeight >= document.documentElement.scrollHeight - 100 && !loading && !endOfComments) {
                console.log('Scroll event triggered');
                loading = true;
                page++;
                loadMoreComments(page);
            }
        });

        const loadMoreComments = async (page) => {
            document.getElementById('loading').style.display = 'block'; // Show loading indicator
            document.getElementById('no-more-comments').style.display = 'none'; // Hide no more comments message
            try {
                const response = await fetch(`?page=${page}`, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                });
                if (response.ok) {
                    const data = await response.text();
                    if (data.trim().length === 0 || data.includes('id="end-of-comments"')) {
                        document.getElementById('loading').style.display = 'none'; // Hide loading indicator
                        document.getElementById('no-more-comments').style.display = 'block'; // Show no more comments message
                        endOfComments = true;
                        return;
                    }
                    document.getElementById('loading').style.display = 'none'; // Hide loading indicator
                    document.getElementById('comments').insertAdjacentHTML('beforeend', data);
                    loading = false;
                } else {
                    document.getElementById('loading').style.display = 'none'; // Hide loading indicator on error
                    loading = false;
                }
            } catch (error) {
                console.error(`Error occurred: ${error}`);
                document.getElementById('loading').style.display = 'none'; // Hide loading indicator on error
                loading = false;
            }
        };
    });
</script>
{% endblock %}
