{% extends '_base.html' %}
{% load editorjs %}

{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<h1 class="mb-6 text-4xl font-bold sm:my-10 lg:my-14 font-display">{{ page.title }}</h1>
<div class="page-content">
    {{ page.content | editorjs }}
</div>
{% if page.title == 'Support' %}
<br>
<a href="https://ko-fi.com/bomsquad" target="_blank">
    <img src="/static/images/screencapture-ko-fi-bomsquad-membership.jpeg" alt="Ko-fi membership workflow" class="mt-10"></img>
</a>
{% endif %}

{% endblock content %}