{% extends "_base.html" %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ manufacturer.name }}{% endblock title %}

{% block content %}
<div class="container p-6 mx-auto">
    <h1 class="pt-6 pb-10 text-4xl font-bold">{{ manufacturer.name }}</h1>
    <table class="min-w-full bg-white border-collapse">
        <thead>
            <tr>
                <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Attribute</th>
                <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b">
                <td class="px-4 py-2 font-bold">Name</td>
                <td class="px-4 py-2">{{ manufacturer.name }}</td>
            </tr>
            <tr class="border-b">
                <td class="px-4 py-2 font-bold">Link</td>
                <td class="px-4 py-2">
                    <a href="{{ manufacturer.link }}" class="text-blue-500 hover:underline">{{ manufacturer.link }}</a>
                </td>
            </tr>
            <tr class="border-b">
                <td class="px-4 py-2 font-bold">Notes</td>
                <td class="px-4 py-2">{{ manufacturer.notes }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container py-12 mx-auto">
    <h2 class="pt-6 pb-10 text-2xl font-bold">Component Usage by Module Count</h2>
    <div id="buttonsContainerCount"></div>
    <canvas id="componentUsageCountChart" width="400" height="200"></canvas>
</div>

<div class="container py-12 mx-auto">
    <h2 class="pt-6 pb-10 text-2xl font-bold">Total Quantity of Components Used</h2>
    <div id="buttonsContainerQuantity"></div>
    <canvas id="componentUsageQuantityChart" width="400" height="200"></canvas>
</div>

<!-- Include Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctxCount = document.getElementById('componentUsageCountChart').getContext('2d');
        var ctxQuantity = document.getElementById('componentUsageQuantityChart').getContext('2d');
        
        var labels = [
            {% for item in component_usage_count %}
                "{{ item.components_options__description }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];

        var datasetsCount = [
            {
                label: '{{ manufacturer.name }} Modules Including Component',
                data: [
                    {% for item in component_usage_count %}
                        {{ item.count }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                ids: [
                    {% for item in component_usage_count %}
                        "{{ item.components_options__id }}"{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                xAxisID: "x"
            }
        ];

        var datasetsQuantity = [
            {
                label: '{{ manufacturer.name }} Total Quantity of Components Used',
                data: [
                    {% for item in component_usage_quantity %}
                        {{ item.total_quantity }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1,
                ids: [
                    {% for item in component_usage_quantity %}
                        "{{ item.components_options__id }}"{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                xAxisID: "x"
            }
        ];

        {% for other_manufacturer in other_manufacturers %}
        datasetsCount.push({
            label: '{{ other_manufacturer.name }} Modules Including Component',
            data: [
                {% for item in other_manufacturer.component_usage_count %}
                    {{ item.count }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            backgroundColor: '{{ other_manufacturer.color }}',
            borderColor: '{{ other_manufacturer.border_color }}',
            borderWidth: 1,
            ids: [
                {% for item in other_manufacturer.component_usage_count %}
                    "{{ item.components_options__id }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            xAxisID: "x2"
        });

        datasetsQuantity.push({
            label: '{{ other_manufacturer.name }} Total Quantity of Components Used',
            data: [
                {% for item in other_manufacturer.component_usage_quantity %}
                    {{ item.total_quantity }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            backgroundColor: '{{ other_manufacturer.color }}',
            borderColor: '{{ other_manufacturer.border_color }}',
            borderWidth: 1,
            ids: [
                {% for item in other_manufacturer.component_usage_quantity %}
                    "{{ item.components_options__id }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            xAxisID: "x2"
        });
        {% endfor %}

        var optionsCount = {
            scales: {
                x: {
                    stacked: true,
                },
                x2: {
                    display: false,
                    stacked: true,
                    offset: true
                },
                y: {
                    stacked: false,
                    ticks: {
                        beginAtZero: true
                    },
                }
            },
            plugins: {
                customCursor: {
                    id: 'customCursor',
                    afterEvent: function(chart, args) {
                        const event = args.event;
                        const points = chart.getElementsAtEventForMode(event, 'nearest', { intersect: true }, true);
                        if (points.length) {
                            chart.canvas.style.cursor = 'pointer';
                        } else {
                            chart.canvas.style.cursor = 'default';
                        }
                    }
                }
            },
            onClick: function(evt) {
                const points = componentUsageCountChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
                if (points.length) {
                    const firstPoint = points[0];
                    const componentId = componentUsageCountChart.data.datasets[firstPoint.datasetIndex].ids[firstPoint.index];
                    const url = `/components/${componentId}/`;
                    window.location.href = url;
                }
            }
        };

        var optionsQuantity = {
            scales: {
                x: {
                    stacked: true,
                },
                x2: {
                    display: false,
                    stacked: true,
                    offset: true
                },
                y: {
                    stacked: false,
                    ticks: {
                        beginAtZero: true
                    },
                }
            },
            plugins: {
                customCursor: {
                    id: 'customCursor',
                    afterEvent: function(chart, args) {
                        const event = args.event;
                        const points = chart.getElementsAtEventForMode(event, 'nearest', { intersect: true }, true);
                        if (points.length) {
                            chart.canvas.style.cursor = 'pointer';
                        } else {
                            chart.canvas.style.cursor = 'default';
                        }
                    }
                }
            },
            onClick: function(evt) {
                const points = componentUsageQuantityChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
                if (points.length) {
                    const firstPoint = points[0];
                    const componentId = componentUsageQuantityChart.data.datasets[firstPoint.datasetIndex].ids[firstPoint.index];
                    const url = `/components/${componentId}/`;
                    window.location.href = url;
                }
            }
        };

        var componentUsageCountChart = new Chart(ctxCount, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: datasetsCount
            },
            options: optionsCount
        });

        var componentUsageQuantityChart = new Chart(ctxQuantity, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: datasetsQuantity
            },
            options: optionsQuantity
        });

        // Function to create buttons for toggling datasets
        function createButtons(chart, containerId) {
            const container = document.getElementById(containerId);
            chart.data.datasets.forEach((dataset, index) => {
                const button = document.createElement('button');
                button.innerText = dataset.label;
                button.style.backgroundColor = dataset.backgroundColor;
                button.style.border = 'none';
                button.style.marginRight = '10px';
                button.style.padding = '10px';
                button.style.cursor = 'pointer';
                button.classList.add('active'); // Initially, all buttons are active
                
                button.addEventListener('click', function() {
                    const meta = chart.getDatasetMeta(index);
                    meta.hidden = !meta.hidden;
                    chart.update();
                    
                    if (meta.hidden) {
                        button.classList.remove('active');
                        button.style.opacity = 0.5;
                    } else {
                        button.classList.add('active');
                        button.style.opacity = 1;
                    }
                });
                container.appendChild(button);
            });
        }

        // Create buttons for both charts
        createButtons(componentUsageCountChart, 'buttonsContainerCount');
        createButtons(componentUsageQuantityChart, 'buttonsContainerQuantity');

        // Registering the click handler
        document.getElementById('componentUsageCountChart').addEventListener('click', function(evt) {
            componentUsageCountChart.options.onClick(evt);
        });
        document.getElementById('componentUsageQuantityChart').addEventListener('click', function(evt) {
            componentUsageQuantityChart.options.onClick(evt);
        });
    });
</script>
{% endblock content %}


{% block extra-js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.3.1/umd/react.production.min.js"
        integrity="sha512-QVs8Lo43F9lSuBykadDb0oSXDL/BbZ588urWVCRwSIoewQv/Ewg1f84mK3U790bZ0FfhFa1YSQUmIhG+pIRKeg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.3.1/umd/react-dom.production.min.js"
        integrity="sha512-6a1107rTlA4gYpgHAqbwLAtxmWipBdJFcq8y5S/aTge3Bp+VAklABm2LO+Kg51vOWR9JMZq1Ovjl5tpluNpTeQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js"
        integrity="sha512-skYYbQHAuOTpeJTthhUH3flZohep8blA+qjZOY0VqmfXMDiYcWxu29F5UbxU4LxaIpGkRBk+3Qf8qaXfd9jngg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script>
window.comments_props = {% get_commentbox_props for manufacturer %};
window.comments_props_override = {
    allow_comments: true,
    allow_feedback: true,
    show_feedback: true,
    allow_flagging: true,
    polling_interval: 5000  // In milliseconds.
};
</script>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'django_comments_xtd/js/django-comments-xtd-2.10.0.js' %}"></script>
<script>
window.addEventListener('DOMContentLoaded', (_) => {
    const tooltipQs = '[data-bs-toggle="tooltip"]';
    const tooltipList = document.querySelectorAll(tooltipQs);
    [...tooltipList].map(el => new bootstrap.Tooltip(el, {html: true}));
});
</script>
{% endblock extra-js %}
