{% extends "_base.html" %}
{% load custom_tags %}
{% load static %}

{% block content %}
    <div class="py-12 mx-auto">
        <div class="flex flex-col mb-4 space-x-4 md:flex-row">
            {% if request.GET.search %}
                <div>
                    <span>Search:</span>
                    <a href="?{% query_transform request excluding='search' %}" class="m-0 py-0.5 px-1.5 no-underline rounded-full font-sans font-semibold bg-slate-500 text-white">
                        {{ request.GET.search }} ×
                    </a>
                </div>
            {% endif %}
            {% if request.GET.manufacturer %}
                <div>
                    <span>Manufacturer:</span>
                    <a href="?{% query_transform request excluding='manufacturer' %}" class="m-0 py-0.5 px-1.5 no-underline rounded-full font-sans font-semibold bg-slate-500 text-white">
                        {{ request.GET.manufacturer }} ×
                    </a>
                </div>
            {% endif %}
            {% if request.GET.component_type %}
                <div>
                    <span>Mounting Style:</span>
                    <a href="?{% query_transform request excluding='component_type' %}" class="m-0 py-0.5 px-1.5 no-underline rounded-full font-sans font-semibold bg-slate-500 text-white">
                        {% if request.GET.component_type == 'th' %}Through Hole{% elif request.GET.component_type == 'smt' %}Surface Mount (SMT){% else %}{{ request.GET.component_type }}{% endif %} ×
                    </a>
                </div>
            {% endif %}
        </div>
        
        <div id="dataElem" class="p-10 mb-10 bg-gray-100 rounded-lg">
            <form method="get">
                <div class="flex flex-col gap-6 -mx-2">
                    <div class="w-full px-2 mb-6 md:w-3/5 lg:w-1/2 md:mb-0">
                        <label for="search" class="block mb-2 font-semibold text-gray-700 text-md">Search</label>
                        <input type="text"
                            name="search"
                            placeholder="Search"
                            id="search"
                            value="{{ search }}"
                            autoComplete="off"
                            class="w-full h-10 pl-2 border border-gray-300 rounded-md focus:border-brandgreen-500 focus:ring-1 focus:ring-brandgreen-500"/>
                    </div>
                    <div class="flex flex-wrap gap-4">
                        <div class="w-48 px-2 mb-4 md:mb-0 min-w-[200px]">
                            <label for="manufacturer"
                                class="block mb-2 font-semibold text-gray-700 text-md">Manufacturer</label>
                            {% include "components/select.html" with select_name="manufacturer" select_id="manufacturer" default_option_text="All" items=manufacturers %}
                        </div>
                        <div class="w-48 px-2 mb-4 md:mb-0 min-w-[200px]">
                            <label for="component_type"
                                class="block mb-2 font-semibold text-gray-700 text-md">Mounting Style</label>
                            {% include "components/select.html" with select_name="component_type" select_id="component_type" default_option_text="All" items=mounting_style %}
                        </div>
                    </div>
                    <div class="w-full px-2 md:w-1/2 lg:w-1/3">
                        <button type="submit"
                                class="inline-flex items-center px-4 py-2 text-base font-medium text-white border border-transparent rounded-md bg-brandgreen-500 hover:bg-brandgreen-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brandgreen-500">
                            Search
                        </button>
                    </div>
                </div>
            </form>  
        </div>              
        
        <div id="module-container" class="grid grid-cols-1 gap-6 md:gap-8 lg:gap-12">
            <h1 class="my-6 text-3xl">Projects</h1>
            {% for module in page_obj %}
                <div class="flex items-center overflow-hidden bg-white rounded-lg module-item">
                    <div class="flex justify-center object-contain w-24 h-24 md:w-48 md:h-48">
                        {% if module.thumb_image_webp and module.thumb_image_jpeg %}
                            <picture>
                                <source srcset="{{ module.thumb_image_webp.url }}" type="image/webp">
                                <source srcset="{{ module.thumb_image_jpeg.url }}" type="image/jpeg"> <!-- Fallback image -->
                                <img class="object-contain w-auto h-full"
                                    src="{{ module.thumb_image_jpeg.url }}"
                                    alt="{{ module.name }}"/>
                            </picture>
                        {% endif %}
                    </div>
                    <div class="flex-1">
                        <div class="px-4 py-5 sm:p-6">
                            <div class="flex flex-wrap justify-between">
                                <div>
                                    <a href="{% url 'module' module.slug %}">
                                        <h2 class="text-xl font-medium text-gray-900">{{ module.name }}</h2>
                                    </a>
                                </div>
                                <div class="flex py-2 space-x-2 md:py-0">
                                    {% include "modules/_module_button.html" with action_url="add_to_built" icon_type="built" btn_class=module.is_built|yesno:"inline-flex items-center gap-x-1.5 rounded-md bg-pink-600 hover:bg-pink-400,inline-flex items-center gap-x-1.5 rounded-md bg-gray-500 hover:bg-gray-400" label_text="Built" %}
                                    {% include "modules/_module_button.html" with action_url="add_to_wtb" icon_type="wtb" btn_class=module.is_wtb|yesno:"inline-flex items-center gap-x-1.5 rounded-md bg-pink-600 hover:bg-pink-400,inline-flex items-center gap-x-1.5 rounded-md bg-gray-500 hover:bg-gray-400" label_text="Want to build" %}
                                </div>
                            </div>
                            <a href="{% url 'manufacturer_detail' module.manufacturer.slug %}" class="text-gray-500 hover:text-gray-400">{{ module.manufacturer.name }}</a>
                            <div class="flex flex-wrap gap-2 mt-2">
                                <!-- Rack Unit Pill with Static Color -->
                                {% if module.rack_unit %}
                                    <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full" style="background-color: #1f77b4;">
                                        {{ module.rack_unit }}
                                    </span>
                                {% endif %}
                            
                                <!-- HP Pill with Color Gradient -->
                                {% if module.hp %}
                                <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full" 
                                        data-hp="{{ module.hp }}">
                                    {{ module.hp }} HP
                                </span>
                                {% endif %}
                            
                                <!-- Category Pill with Static Colors Based on Value -->
                                {% if module.category %}
                                    {% if module.category.lower == 'eurorack' %}
                                        <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full bg-slate-500">
                                            {{ module.category }}
                                        </span>
                                    {% elif module.category.lower == 'pedals' %}
                                        <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full bg-purple-500">
                                            {{ module.category }}
                                        </span>
                                    {% elif module.category.lower == 'serge' %}
                                        <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full bg-yellow-800">
                                            {{ module.category }}
                                        </span>
                                    {% else %}
                                        <span class="px-2 py-0.5 text-xs font-semibold text-white bg-gray-500 rounded-full">
                                            {{ module.category }}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <p class="mt-4 text-sm text-gray-500" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5">
                                {{ module.description }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="loading" class="hidden py-4 text-center animate-pulse">
            <span>Loading...</span>
        </div>
        <div id="pagination" class="hidden">
            <span id="next-page" data-next-page="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}None{% endif %}"></span>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        let loading = false;

        window.addEventListener('scroll', () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 500 && !loading) {
                loading = true;
                loadMoreModules();
            }
        });

        function loadMoreModules() {
            const nextPage = document.getElementById('next-page').dataset.nextPage;
            if (nextPage === 'None') return;

            const loadingSpinner = document.getElementById('loading');
            loadingSpinner.classList.remove('hidden');

            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('page', nextPage);

            fetch(`?${urlParams.toString()}`, {
                headers: {
                    'x-requested-with': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                const newModules = document.createElement('div');
                newModules.innerHTML = data.html;
                const moduleContainer = document.getElementById('module-container');
                moduleContainer.append(...newModules.children);

                if (data.has_next) {
                    document.getElementById('next-page').dataset.nextPage = parseInt(nextPage) + 1;
                } else {
                    document.getElementById('next-page').dataset.nextPage = 'None';
                }

                loadingSpinner.classList.add('hidden');
                loading = false;

                applyColorToHpPills(); // Apply colors to newly loaded modules
            })
            .catch(error => {
                console.error('Error loading more modules:', error);
                loadingSpinner.classList.add('hidden');
                loading = false;
            });
        }

        // Function to apply colors based on HP
        function applyColorToHpPills() {
            const colorScale = chroma.scale(["#a4d3b5", "#558a6b", "#2d5d46"]).domain([1, 34]);
            document.querySelectorAll('[data-hp]').forEach(function(element) {
                const hpValue = parseInt(element.getAttribute('data-hp'), 10);
                const color = colorScale(hpValue).hex() || "#558a6b"; // Fallback color
                element.style.backgroundColor = color;
            });
        }
    </script>
{% endblock javascript %}

