{% extends "_base.html" %}
{% block content %}
    <div class="max-w-7xl mx-auto py-12">
        <div id="dataElem" class="bg-gray-100 p-10 mb-10 rounded-lg">
            <form method="get">
                <div class="flex flex-col -mx-2">
                    <div class="w-full mb-6 md:w-1/2 lg:w-1/3 px-2 mb-4 md:mb-0">
                        <label for="search" class="block text-md font-semibold text-gray-700 mb-2">Search by name</label>
                        <input type="text"
                            name="search"
                            placeholder="Search"
                            id="search"
                            autocomplete="off"
                            class="w-full pl-2 border-gray-300 rounded-md focus:border-brandgreen-500 focus:ring-1 focus:ring-brandgreen-500 h-8 border border-gray-300"/>
                    </div>
                    <div class="w-48 px-2 mb-4 md:mb-0">
                        <label for="manufacturer"
                            class="block text-md font-semibold text-gray-700 mb-2">Manufacturer</label>
                        <select name="manufacturer"
                                id="manufacturer"
                                class="w-full mb-6 border-gray-300 rounded-md focus:border-brandgreen-500 focus:ring-1 focus:ring-brandgreen-500 h-8 border border-gray-300">
                            <option value="" class="text-brandgreen-500 hover:bg-brandgreen-100 hover:text-gray-800">
                                All manufacturers
                            </option>
                            {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer.name }}" class="text-brandgreen-500 hover:bg-brandgreen-100 hover:text-gray-800">
                                    {{ manufacturer.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 px-2">
                        <button type="submit"
                                class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-brandgreen-500 hover:bg-brandgreen-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brandgreen-500">
                            Search
                        </button>
                    </div>
                </div>
            </form>  
        </div>              
        <div class="grid grid-cols-1 gap-6 md:gap-8 lg:gap-12">
            <h1 class="my-6 text-3xl">Modules</h1>
            {% for module in page_obj %}
                <div class="flex bg-white overflow-hidden rounded-lg flex items-center">
                    <div class="flex justify-center object-contain w-48 h-48">
                        <img class="object-fit w-auto h-full"
                             height="100px"
                             width="100px"
                             src="{{ module.image.url }}"
                             alt="{{ module.name }}"/>
                    </div>
                    <div class="flex-1">
                        <div class="px-4 py-5 sm:p-6">
                            <div class="flex flex-wrap justify-between">
                                <div>
                                    <a href="{% url 'module' module.slug %}">
                                        <h2 class="text-xl font-medium text-gray-900">{{ module.name }}</h2>
                                    </a>
                                </div>
                                <div class="flex space-x-2">
                                    <form method="post" action="{% url 'add_to_built' module.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="inline-flex items-center gap-x-1.5 rounded-md {% if module.is_built %}bg-pink-600 hover:bg-pink-400{% else %}bg-gray-500 hover:bg-gray-400{% endif %} py-1.5 px-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-all">
                                            {% if module.is_built %}
                                            <svg class="-ml-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                            </svg>
                                            Built
                                            {% else %}
                                            Add to built
                                            {% endif %}
                                        </button>
                                    </form>
                                    <form method="post" action="{% url 'add_to_wtb' module.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="inline-flex items-center gap-x-1.5 rounded-md {% if module.is_wtb %}bg-pink-600 hover:bg-pink-400{% else %}bg-gray-500 hover:bg-gray-400{% endif %} py-1.5 px-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-all">
                                            {% if module.is_wtb %}
                                            <svg class="-ml-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                                            </svg>
                                            Want to build
                                            {% else %}
                                            Add to want-to-build
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <p class="text-sm text-gray-500">{{ module.manufacturer }}</p>
                            <p class="mt-4 text-sm text-gray-500">{{ module.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="mt-6">
        {% if page_obj.has_other_pages %}
            <nav class="flex justify-between">
                {% if page_obj.has_previous %}
                    <a href="?{% if manufacturer %}manufacturer={{ manufacturer }}&{% endif %}search={{ search }}&page={{ page_obj.previous_page_number }}"
                       class="text-gray-800 hover:text-gray-500 font-medium inline-block py-2 px-3 rounded-lg">
                        &laquo; Previous
                    </a>
                {% endif %}
                <div class="text-gray-800 font-medium inline-block py-2">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </div>
                {% if page_obj.has_next %}
                    <a href="?{% if manufacturer %}manufacturer={{ manufacturer }}&{% endif %}search={{ search }}&page={{ page_obj.next_page_number }}"
                       class="text-gray-800 hover:text-gray-500 font-medium inline-block py-2 px-3 rounded-lg">
                        Next &raquo;
                    </a>
                {% endif %}
            </nav>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}
