{% extends "_base.html" %}
{% load custom_tags %}
{% load static %}

{% block content %}
    <div class="py-12 mx-auto">
        <div class="flex justify-between mb-4">
            <div class="flex flex-wrap gap-2 text-xs">
                {% if request.GET.search %}
                    <div class="flex items-center">
                        <span class="font-bold">Search:</span>
                        <a href="?{% query_transform request excluding='search' %}" class="ml-2 py-0.5 px-3 rounded-full font-sans font-semibold bg-slate-500 text-white whitespace-nowrap">
                            {{ request.GET.search }} ×
                        </a>
                    </div>
                {% endif %}
                {% if request.GET.manufacturer %}
                    <div class="flex items-center">
                        <span class="font-bold">Manufacturer:</span>
                        <a href="?{% query_transform request excluding='manufacturer' %}" class="ml-2 py-0.5 px-3 rounded-full font-sans font-semibold bg-slate-500 text-white whitespace-nowrap">
                            {{ request.GET.manufacturer }} ×
                        </a>
                    </div>
                {% endif %}
                {% if request.GET.component or request.GET.quantity_min or request.GET.quantity_max %}
                    <div class="flex items-center">
                        <span class="font-bold">Component & Quantity:</span>
                        <a href="javascript:void(0);" onclick="clearMultipleParams(['component', 'component_id', 'quantity_min', 'quantity_max'])" class="ml-2 py-0.5 px-3 rounded-full font-sans font-semibold bg-slate-500 text-white whitespace-nowrap">
                            {{ request.GET.component|truncatechars:20 }}
                            {% if request.GET.component %}
                                {% if request.GET.quantity_min or request.GET.quantity_max %}&#8212;{% endif %}
                            {% endif %}
                            {% if request.GET.quantity_min %}{{ request.GET.quantity_min }}{% else %}0{% endif %}
                            to
                            {% if request.GET.quantity_max %}{{ request.GET.quantity_max }}{% else %}∞{% endif %}
                        </a>
                    </div>
                {% endif %}
                {% if request.GET.component_type %}
                    <div class="flex items-center">
                        <span class="font-bold">Mounting Style:</span>
                        <a href="?{% query_transform request excluding='component_type' %}" class="ml-2 py-0.5 px-3 rounded-full font-sans font-semibold bg-slate-500 text-white whitespace-nowrap">
                            {{ request.GET.component_type|get_display_name:mounting_style_options }} ×
                        </a>
                    </div>
                {% endif %}
                {% if request.GET.category %}
                    <div class="flex items-center">
                        <span class="font-bold">Category:</span>
                        <a href="?{% query_transform request excluding='category' %}" class="ml-2 py-0.5 px-3 rounded-full font-sans font-semibold bg-slate-500 text-white whitespace-nowrap">
                            {{ request.GET.category }} ×
                        </a>
                    </div>
                {% endif %}
                {% if request.GET.rack_unit %}
                    <div class="flex items-center">
                        <span class="font-bold">Rack Unit:</span>
                        <a href="?{% query_transform request excluding='rack_unit' %}" class="ml-2 py-0.5 px-3 rounded-full font-sans font-semibold bg-slate-500 text-white whitespace-nowrap">
                            {{ request.GET.rack_unit }} ×
                        </a>
                    </div>
                {% endif %}
            </div>

            <!-- Clear All Filters button aligned right -->
            {% if request.GET.search or request.GET.manufacturer or request.GET.component_type or request.GET.category or request.GET.rack_unit or request.GET.component or request.GET.quantity_min or request.GET.quantity_max %}
                <div class="flex items-center">
                    <a href="{% url 'home' %}" class="px-3 py-1 font-sans font-semibold text-white bg-[#fed703] rounded-full whitespace-nowrap">
                        Clear All Filters
                    </a>
                </div>
            {% endif %}
        </div>                          

        <div id="dataElem" class="p-10 mb-10 bg-gray-100 rounded-lg">
            <form method="get">
                <div class="flex flex-col gap-6 -mx-2">
                    <div class="w-full px-2 mb-6 md:w-3/5 lg:w-1/2 md:mb-0">
                        <label for="search" class="block mb-2 font-semibold text-gray-700 text-md">Search</label>
                        <input type="text"
                            name="search"
                            placeholder="Search"
                            id="search"
                            value="{{ search }}"
                            autoComplete="off"
                            class="w-full h-10 pl-2 border border-gray-300 rounded-md focus:border-brandgreen-500 focus:ring-1 focus:ring-brandgreen-500"/>
                    </div>
                    <div class="flex flex-wrap gap-4">
                        <!-- Manufacturer Filter -->
                        <div class="w-48 px-2 mb-4 md:mb-0 min-w-[200px]">
                            <label for="manufacturer" class="block mb-2 font-semibold text-gray-700 text-md">Manufacturer</label>
                            {% include "components/select.html" with select_name="manufacturer" select_id="manufacturer" default_option_text="All" items=manufacturers %}
                        </div>
                    
                        <!-- Mounting Style Filter -->
                        <div class="w-48 px-2 mb-4 md:mb-0 min-w-[200px]">
                            <label for="component_type" class="block mb-2 font-semibold text-gray-700 text-md">Mounting Style</label>
                            {% include "components/select.html" with select_name="component_type" select_id="component_type" default_option_text="All" items=mounting_style_options %}
                        </div>
                    
                        <!-- Category Filter -->
                        <div class="w-48 px-2 mb-4 md:mb-0 min-w-[200px]">
                            <label for="category" class="block mb-2 font-semibold text-gray-700 text-md">Category</label>
                            {% include "components/select.html" with select_name="category" select_id="category" default_option_text="All" items=category_options %}
                        </div>
                    
                        <!-- Rack Unit Filter -->
                        <div class="w-48 px-2 mb-4 md:mb-0 min-w-[200px]">
                            <label for="rack_unit" class="block mb-2 font-semibold text-gray-700 text-md">Rack Unit</label>
                            {% include "components/select.html" with select_name="rack_unit" select_id="rack_unit" default_option_text="All" items=rack_unit_options %}
                        </div>
                    </div>
                    <div id="components-container" class="w-full px-2 mb-4 md:w-3/5 lg:w-1/2 min-w-[200px]">
                        <div class="relative">
                            <label for="component" class="block mb-2 font-semibold text-gray-700 text-md">Component</label>
                    
                            <!-- Input field for component search -->
                            <input type="text" name="component" id="component" placeholder="Search component"
                                   class="w-full h-10 pl-2 border border-gray-300 rounded-md focus:border-brandgreen-500 focus:ring-1 focus:ring-brandgreen-500"
                                   oninput="fetchComponents()" autocomplete="off"/>
                    
                            <!-- Hidden field for component ID -->
                            <input type="hidden" name="component_id" id="component-id">
                            
                            <!-- Dropdown for suggestions -->
                            <div id="component-dropdown" class="absolute z-10 hidden w-full bg-white border border-gray-300 rounded-md shadow-lg"></div>
                        </div>
                    
                        <!-- Quantity Range Inputs -->
                        <div class="flex items-center gap-4 mt-2">
                            <label for="quantity_min" class="text-sm font-semibold text-gray-700">Quantity:</label>
                            <input type="number" name="quantity_min" id="quantity_min" placeholder="Min"
                                   class="w-20 h-8 px-2 border border-gray-300 rounded-md" />
                            <span class="text-sm font-semibold text-gray-700">to</span>
                            <input type="number" name="quantity_max" id="quantity_max" placeholder="Max"
                                   class="w-20 h-8 px-2 border border-gray-300 rounded-md" />
                        </div>
                    </div>
                    <div class="flex w-full">
                        <button type="button" onclick="addComponentGroup()">+</button>  
                    </div>                  
                    <div class="w-full px-2 md:w-1/2 lg:w-1/3">
                        <button type="submit"
                                class="inline-flex items-center px-4 py-2 text-base font-medium text-white border border-transparent rounded-md bg-brandgreen-500 hover:bg-brandgreen-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brandgreen-500">
                            Search
                        </button>
                    </div>
                </div>
            </form>  
        </div>                
        
        <div id="module-container" class="grid grid-cols-1 gap-y-10 lg:gap-y-14">
            <h1 class="my-6 text-3xl">Projects</h1>
            {% for module in page_obj %}
                <div class="flex flex-col items-center overflow-hidden bg-white rounded-lg md:flex-row module-item">
                    <!-- Image section with responsive full width on mobile -->
                    <div class="flex justify-center w-full h-64 md:w-48 md:h-48">
                        {% if module.thumb_image_webp and module.thumb_image_jpeg %}
                            <picture>
                                <source srcset="{{ module.thumb_image_webp.url }}" type="image/webp">
                                <source srcset="{{ module.thumb_image_jpeg.url }}" type="image/jpeg">
                                <img class="object-cover w-full h-full md:object-contain"
                                    src="{{ module.thumb_image_jpeg.url }}"
                                    alt="{{ module.name }}"/>
                            </picture>
                        {% endif %}
                    </div>

                    <!-- Content section below the image on mobile, side-by-side on desktop -->
                    <div class="flex-1 p-4 md:px-4 md:py-5 sm:p-6">
                        <div class="flex flex-wrap justify-between">
                            <div>
                                <a href="{% url 'module' module.slug %}">
                                    <h2 class="text-xl font-medium text-gray-900">{{ module.name }}</h2>
                                </a>
                            </div>
                            <div class="flex py-2 space-x-2 md:py-0">
                                {% include "modules/_module_button.html" with action_url="add_to_built" icon_type="built" btn_class=module.is_built|yesno:"inline-flex items-center gap-x-1.5 rounded-md bg-pink-600 hover:bg-pink-400,inline-flex items-center gap-x-1.5 rounded-md bg-gray-500 hover:bg-gray-400" label_text="Built" %}
                                {% include "modules/_module_button.html" with action_url="add_to_wtb" icon_type="wtb" btn_class=module.is_wtb|yesno:"inline-flex items-center gap-x-1.5 rounded-md bg-pink-600 hover:bg-pink-400,inline-flex items-center gap-x-1.5 rounded-md bg-gray-500 hover:bg-gray-400" label_text="Want to build" %}
                            </div>
                        </div>
                        <a href="{% url 'manufacturer_detail' module.manufacturer.slug %}" class="text-gray-500 hover:text-gray-400">{{ module.manufacturer.name }}</a>
                        <div class="flex flex-wrap gap-2 mt-2">
                            {% if module.rack_unit %}
                                <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full" style="background-color: #1f77b4;">
                                    {{ module.rack_unit }}
                                </span>
                            {% endif %}
                            {% if module.hp %}
                                <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full" data-hp="{{ module.hp }}">
                                    {{ module.hp }} HP
                                </span>
                            {% endif %}
                            {% if module.category %}
                                {% if module.category.lower == 'eurorack' %}
                                    <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full bg-slate-500">
                                        {{ module.category }}
                                    </span>
                                {% elif module.category.lower == 'pedals' %}
                                    <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full bg-purple-500">
                                        {{ module.category }}
                                    </span>
                                {% elif module.category.lower == 'serge' %}
                                    <span class="px-2 py-0.5 text-xs font-semibold text-white rounded-full bg-yellow-800">
                                        {{ module.category }}
                                    </span>
                                {% else %}
                                    <span class="px-2 py-0.5 text-xs font-semibold text-white bg-gray-500 rounded-full">
                                        {{ module.category }}
                                    </span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <p class="mt-4 text-sm text-gray-500" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 5">
                            {{ module.description }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="loading" class="hidden py-4 text-center animate-pulse">
            <span>Loading...</span>
        </div>
        <div id="pagination" class="hidden">
            <span id="next-page" data-next-page="{% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}None{% endif %}"></span>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            applyColorToHpPills(); // Initial call for modules loaded on page load
        });
        
        let loading = false;
        
        window.addEventListener('scroll', () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 500 && !loading) {
                loading = true;
                loadMoreModules();
            }
        });
        
        function loadMoreModules() {
            const nextPage = document.getElementById('next-page').dataset.nextPage;
            if (nextPage === 'None') return;
        
            const loadingSpinner = document.getElementById('loading');
            loadingSpinner.classList.remove('hidden');
        
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('page', nextPage);
        
            fetch(`?${urlParams.toString()}`, {
                headers: {
                    'x-requested-with': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                const newModules = document.createElement('div');
                newModules.innerHTML = data.html;
                const moduleContainer = document.getElementById('module-container');
                moduleContainer.append(...newModules.children);
        
                if (data.has_next) {
                    document.getElementById('next-page').dataset.nextPage = parseInt(nextPage) + 1;
                } else {
                    document.getElementById('next-page').dataset.nextPage = 'None';
                }
        
                loadingSpinner.classList.add('hidden');
                loading = false;
        
                applyColorToHpPills(); // Apply colors to newly loaded modules
            })
            .catch(error => {
                console.error('Error loading more modules:', error);
                loadingSpinner.classList.add('hidden');
                loading = false;
            });
        }
        
        // Function to apply colors based on HP
        function applyColorToHpPills() {
            const colorScale = chroma.scale(["#a4d3b5", "#558a6b", "#2d5d46"]).domain([1, 34]);
            document.querySelectorAll('[data-hp]').forEach(function(element) {
                const hpValue = parseInt(element.getAttribute('data-hp'), 10);
                const color = colorScale(hpValue).hex() || "#558a6b"; // Fallback color
                element.style.backgroundColor = color;
            });
        }        
    </script>
    <script>
        async function fetchComponents() {
            const query = document.getElementById("component").value;
            const dropdown = document.getElementById("component-dropdown");
        
            if (query.length < 2) {
                dropdown.classList.add("hidden");
                return;
            }
        
            // Fetching component suggestions from the server
            const response = await fetch(`/component-autocomplete/?q=${encodeURIComponent(query)}`);
            const data = await response.json();
            dropdown.innerHTML = ""; // Clear previous suggestions
        
            // Populate dropdown with results
            data.results.forEach(item => {
                const option = document.createElement("div");
                option.className = "py-2 px-4 cursor-pointer hover:bg-gray-100";
                option.textContent = item.text;
                option.onclick = () => selectComponent(item);
                dropdown.appendChild(option);
            });
        
            // Display the dropdown
            dropdown.classList.remove("hidden");
        }
        
        // Selects component from dropdown
        function selectComponent(item) {
            document.getElementById("component").value = item.text; // Display selected text
            document.getElementById("component-id").value = item.id; // Store ID in hidden input
            document.getElementById("component-dropdown").classList.add("hidden"); // Hide dropdown
        }
        
        // Close dropdown if clicking outside the input field and dropdown
        document.addEventListener("click", function(event) {
            const dropdown = document.getElementById("component-dropdown");
            const componentInput = document.getElementById("component");
        
            if (!dropdown.contains(event.target) && event.target !== componentInput) {
                dropdown.classList.add("hidden");
            }
        });        
    </script>
    <script>
        function clearMultipleParams(params) {
            const url = new URL(window.location.href);
            params.forEach(param => url.searchParams.delete(param));
            window.location.href = url.toString();
        }
        function addComponentGroup() {
            const container = document.getElementById("components-container");
            const newComponentGroup = document.querySelector(".component-group").cloneNode(true);
            
            // Reset input values in the cloned group
            newComponentGroup.querySelectorAll("input").forEach(input => input.value = "");
            
            // Append remove button if it doesn't exist
            if (!newComponentGroup.querySelector(".remove-button")) {
                const removeButton = document.createElement("button");
                removeButton.type = "button";
                removeButton.className = "remove-button px-2 py-1 bg-red-500 text-white rounded";
                removeButton.textContent = "-";
                removeButton.onclick = function() { removeComponentGroup(removeButton); };
                newComponentGroup.appendChild(removeButton);
            }
        
            container.appendChild(newComponentGroup);
        }
        
        function removeComponentGroup(button) {
            button.closest(".component-group").remove();
        }
    </script>
{% endblock javascript %}

