{% extends "_base.html" %}
{% load crispy_forms_tags socialaccount %} 
{% block title %}Log in{% endblock %} 
{% block content %}
<div class="flex flex-col w-full gap-10 p-6 bg-yellow-100 rounded-lg" role="alert">
  <div class="flex items-center w-full">
    <svg class="w-8 h-8 mr-3 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
    </svg>
    <div>
      <span class="font-bold">Please note:</span> <span>BOM Squad is currently in beta. We are actively seeking beta test users. That there may be some bugs as we continue to improve our platform.</span> <span>Please open a new issue for any bugs <a className="text-blue-500 hover:text-blue-700" href="https://github.com/PleatherStarfish/bomsquad/issues"><u>here</u></a>.</span>
    </div>
  </div>
</div>
<div class="flex justify-center mt-8">
  <div class="w-full max-w-md">
    <h2 class="mb-6 text-2xl font-bold text-center">Log in</h2>
    <form method="post" class="p-6 border border-gray-300 rounded-lg">
      {% csrf_token %}
      <div className="flex gap-2">
        <a href="{% provider_login_url 'google' %}" class="inline-flex">
          <div
            class="flex items-center justify-around h-10 gap-2 px-2 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 w-fit"
          >
            <div
              class="flex items-center justify-center w-8 h-8 bg-transparent rounded-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 186.69 190.5"
                xmlns:v="https://vecta.io/nano"
              >
                <g transform="translate(1184.583 765.171)">
                  <path
                    clip-path="none"
                    mask="none"
                    d="M-1089.333-687.239v36.888h51.262c-2.251 11.863-9.006 21.908-19.137 28.662l30.913 23.986c18.011-16.625 28.402-41.044 28.402-70.052 0-6.754-.606-13.249-1.732-19.483z"
                    fill="#4285f4"
                  ></path>
                  <path
                    clip-path="none"
                    mask="none"
                    d="M-1142.714-651.791l-6.972 5.337-24.679 19.223h0c15.673 31.086 47.796 52.561 85.03 52.561 25.717 0 47.278-8.486 63.038-23.033l-30.913-23.986c-8.486 5.715-19.31 9.179-32.125 9.179-24.765 0-45.806-16.712-53.34-39.226z"
                    fill="#34a853"
                  ></path>
                  <path
                    clip-path="none"
                    mask="none"
                    d="M-1174.365-712.61c-6.494 12.815-10.217 27.276-10.217 42.689s3.723 29.874 10.217 42.689c0 .086 31.693-24.592 31.693-24.592-1.905-5.715-3.031-11.776-3.031-18.098s1.126-12.383 3.031-18.098z"
                    fill="#fbbc05"
                  ></path>
                  <path
                    d="M-1089.333-727.244c14.028 0 26.497 4.849 36.455 14.201l27.276-27.276c-16.539-15.413-38.013-24.852-63.731-24.852-37.234 0-69.359 21.388-85.032 52.561l31.692 24.592c7.533-22.514 28.575-39.226 53.34-39.226z"
                    fill="#ea4335"
                    clip-path="none"
                    mask="none"
                  ></path>
                </g>
              </svg>
            </div>
            <div className="flex grow justify-center">
              <span
                class="mr-2 text-sm leading-4 tracking-wider text-gray-900 font-roboto"
                >Log in with Google</span
              >
            </div>
          </div>
        </a>
        <a href="{% provider_login_url 'discord' %}" class="inline-flex">
          <div
            class="flex items-center justify-around h-10 gap-2 px-2 bg-white border border-gray-300 rounded-lg hover:bg-gray-50 w-fit"
          >
            <div
              class="flex items-center justify-center w-6 h-8 bg-transparent rounded-full"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 127.14 96.36"
              >
                <defs>
                  <style>
                    .cls-1 {
                      fill: #5865f2;
                    }
                  </style>
                </defs>
                <g id="图层_2" data-name="图层 2">
                  <g id="Discord_Logos" data-name="Discord Logos">
                    <g
                      id="Discord_Logo_-_Large_-_White"
                      data-name="Discord Logo - Large - White"
                    >
                      <path
                        class="cls-1"
                        d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"
                      />
                    </g>
                  </g>
                </g>
              </svg>
            </div>
            <div className="flex grow justify-center">
              <span
                class="mr-2 text-sm leading-4 tracking-wider text-gray-900 font-roboto"
                >Log in with Discord</span
              >
            </div>
          </div>
        </a>
      </div>
      <div class="flex items-center justify-between my-6">
        <hr class="flex-grow mx-2 border-t border-gray-400" />
        <span class="mx-4 text-gray-400">or</span>
        <hr class="flex-grow mx-2 border-t border-gray-400" />
      </div>
      <div class="mb-4">
        <label class="block mb-2 font-bold text-gray-700" for="login_field"
          >Username or Email</label
        >
        <input
          class="w-full px-3 py-2 leading-tight text-gray-700 border rounded appearance-none focus:outline-none focus:shadow-outline"
          id="login_field"
          type="text"
          name="login"
          placeholder="username or email"
          required
          autofocus
        />
      </div>
      <div class="mb-4">
        <label class="block mb-2 font-bold text-gray-700" for="password_field"
          >Password</label
        >
        <input
          class="w-full px-3 py-2 leading-tight text-gray-700 border rounded appearance-none focus:outline-none focus:shadow-outline"
          id="password_field"
          type="password"
          name="password"
          placeholder="Enter your password"
          required
        />
      </div>
      <div class="flex justify-end w-full">
        <a
        href="{% url 'account_reset_password' %}"
        class="text-gray-500 hover:text-gray-700"
        >Forgot Password?</a>
      </div>
      <button
        class="w-full px-4 py-2 mt-4 font-bold text-white rounded-full bg-brandgreen-500 hover:bg-brandgreen-700"
        type="submit"
      >
        Log in
      </button>
    </form>
    <div class="mt-4 text-center">
      <span>Don't have an account yet? <a
        href="{% url 'account_signup' %}"
        class="font-semibold text-blue-500 hover:text-blue-700"
        >Sign up</a
      ></span>
    </div>
  </div>
</div>
{% endblock content %}
