{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="max-w-md mx-auto bg-white rounded p-8">
  <h2 class="mb-6 text-2xl font-bold text-center">Forgot your password?</h2>
  <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="w-full bg-brandgreen-500 hover:bg-brandgreen-700 text-white font-bold py-2 px-4 rounded mt-4" type="submit">Reset Password</button>
  </form>
</div>
{% endblock content %}
