{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock title %}

{% block content %}
<div class="flex flex-col w-full gap-10 p-6 bg-yellow-100 rounded-lg" role="alert">
  <div class="flex items-center w-full">
    <svg class="w-8 h-8 mr-3 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
    </svg>
    <div>
      <span class="font-bold">Please note:</span> <span>BOM Squad is currently in beta. We are actively seeking beta test users. That there may be some bugs as we continue to improve our platform.</span> <span>Please open a new issue for any bugs <a className="text-blue-500 hover:text-blue-700" href="https://github.com/PleatherStarfish/bomsquad/issues"><u>here</u></a>.</span>
    </div>
  </div>
</div>
<div class="flex justify-center mt-8">
  <div class="w-full max-w-md">
    <h2 class="mb-6 text-2xl font-bold text-center">Sign up</h2>

    <p class="mb-4 text-center">Already have an account? Please <a class="text-blue-500 hover:text-blue-700" href="{% url 'account_login' %}">login</a>.</p>
    <form method="post" class="p-6 border border-gray-300 rounded-lg">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="w-full px-4 py-2 mt-4 font-bold text-white rounded-full bg-brandgreen-500 hover:bg-brandgreen-700" type="submit">Sign up</button>
    </form>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    if (form) {
        form.addEventListener('submit', function() {
            const emailInput = document.querySelector('input[name="email"]');
            if (emailInput) {
                // Store the email in localStorage
                localStorage.setItem('verificationEmail', emailInput.value);
            }
        });
    }
});
</script>
{% endblock javascript %}
