{% load static %}

<button
  class="block text-white menu-button text-decoration-none focus:outline-none"
  aria-label="User menu"
  aria-haspopup="true"
  aria-expanded="false"
>
  {{ button_text }}
</button>
<div
  class="absolute right-0 z-30 hidden w-48 py-2 mt-2 rounded-md shadow-md top-full bg-gray-50"
>
  <ul class="text-sm text-gray-700">
    {% for item in dropdown_items %}
    <li>
      <a class="block px-4 py-2 hover:bg-gray-100" href="{{ item.url }}"
        >{{ item.name }}</a
      >
    </li>
    {% if not forloop.last %}
    <hr class="dropdown-divider" />
    {% endif %} {% endfor %}
  </ul>
</div>
