{% load static custom_tags %}

<a href="{% url 'home' %}" class="md:hidden">
    <img
        class="absolute top-2.5 left-[-20px]"
        height="70px"
        width="70px"
        src="{% static 'images/logo_mini.png' %}"
        alt="Bom Squad Logo"
    />
</a>

<button
  class="p-2 text-white md:hidden focus:outline-none"
  id="full-screen-menu-button"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-6 h-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    />
  </svg>
</button>

<div
  class="fixed inset-0 hidden overflow-hidden transition duration-500 ease-in-out transform -translate-y-full sm:duration-700"
  id="full-screen-menu"
  aria-labelledby="slide-over-title"
  role="dialog"
  aria-modal="true"
>
  <div class="absolute inset-0 bg-gray-500 bg-opacity-75"></div>

  <div class="absolute inset-0">
    <div class="w-full h-full py-6 bg-[#212529]">
      <div class="px-4 sm:px-6">
        <div class="flex items-start justify-end">
          <h2 class="sr-only" id="slide-over-title">Main menu</h2>
          <button
            type="button"
            class="text-white bg-[#212529] hover:text-gray-100"
            id="close-full-screen-menu"
          >
            <span class="sr-only">Close panel</span>
            <svg
              class="w-12 h-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="relative flex-1 px-4 mt-10 sm:px-6">
        <ul class="flex flex-col gap-4 text-left list-none">
          <li>
            <a
              href="{% url 'home' %}"
              class="block px-3 py-2 text-5xl font-medium text-white hover:text-gray-300"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/projects/"
              class="block px-3 py-2 text-5xl font-medium text-white hover:text-gray-300"
              >Projects</a
            >
          </li>
          <li>
            <a
              href="/components/"
              class="block px-3 py-2 text-5xl font-medium text-white hover:text-gray-300"
              >Components</a
            >
          </li>
          <li>
            <a
              href="/blog/"
              class="block px-3 py-2 text-5xl font-medium text-white hover:text-gray-300"
              >Blog</a
            >
          </li>
          <li class="relative">
            <button
              class="flex items-center w-full px-3 py-2 text-5xl font-medium text-left text-white hover:text-gray-300"
              type="button"
              id="resources-menu-button"
            >
              Resources
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 ml-2 transition-transform duration-200 bi bi-caret-down-fill dropdown-caret"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a.5.5 0 0 1-.753.659L7.247 11.14z"
                />
              </svg>
            </button>
            <ul
              id="resources-menu-panel"
              class="hidden max-h-0 overflow-hidden transition-[max-height] duration-300 ease-in-out bg-[#2c3237] text-white rounded shadow-lg"
            >
              <li>
                <a
                  href="/about/"
                  class="block px-6 py-2 text-4xl hover:bg-[#3a3f44]"
                >
                  About
                </a>
              </li>
              <li>
                <a
                  href="/community/"
                  class="block px-6 py-2 text-4xl hover:bg-[#3a3f44]"
                >
                  Community
                </a>
              </li>
              <li>
                <a
                  href="/tools/"
                  class="block px-6 py-2 text-4xl hover:bg-[#3a3f44]"
                >
                  Tools
                </a>
              </li>
            </ul>
          </li>
          {% if user.is_authenticated %} 
              {% dropdown_items user 'suppress_change_password' as dropdown_items %}
              {% for item in dropdown_items %}
                <li>
                  <a class="block px-3 py-2 text-2xl font-medium text-white hover:text-gray-300" href="{{ item.url }}">
                        {{ item.name }}
                  </a>
                </li>
              {% endfor %}
          {% else %}
                <li>
                  <a class="block px-3 py-2 text-2xl font-medium text-white hover:text-gray-300" href="{% url 'account_login' %}">
                        Login
                  </a>
                </li>
                <li>
                  <a class="block px-3 py-2 text-2xl font-medium text-white hover:text-gray-300" href="{% url 'account_signup' %}">
                        Sign up
                  </a>
                </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>