<div class="custom-dropdown relative inline-block w-[200px]">
    <input name="{{ select_name }}" class="hidden selected-value">
    <button class="dropdown-button w-[200px] p-2 bg-gray-50 text-left rounded-md focus:border-brandgreen-500 focus:ring-1 focus:ring-brandgreen-500 h-10 border border-gray-300">
        <span class="selected-text pointer-events-none">{{ default_option_text }}</span>
        <span className="pointer-events-none">
            <svg class="chevron pointer-events-none h-4 w-4 absolute top-1/2 right-3 transform -translate-y-1/2 transition ease-in duration-150 delay-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z" clip-rule="evenodd"/>
            </svg>
        </span>
    </button>
    <ul class="dropdown-list absolute left-0 w-full mt-1 bg-white shadow-md rounded-md z-10 hidden">
      <li data-value="" class="default-option block px-4 py-2 hover:bg-gray-100 cursor-pointer">
        {{ default_option_text }}
      </li>
      {% for item in items %}
        <li data-value="{% firstof item.value item.name %}" class="option-item block px-4 py-2 hover:bg-gray-100 cursor-pointer">
          {{ item.name }}
        </li>
      {% endfor %}
    </ul>
  </div>