{% extends "_base.html" %}
{% load static %}
{% load comments %}
{% load comments_xtd %}
{% load editorjs %}

{% block title %}{{ component.supplier }} {{ component.supplier_item_no }} | DIY Modular Synth & Eurorack Components{% endblock title %}

{% block meta_description %}
  Learn more about {{ component.manufacturer_part_no }} from {{ component.manufacturer }}. Perfect for DIY modular synth projects, Eurorack builds, and guitar pedals. Check technical specs, pricing, and compatibility with DIY audio hardware.
{% endblock meta_description %}

{% block keywords %}
  {{ component.description }}, {{ component.manufacturer }}, DIY modular synth, DIY Eurorack, guitar pedals, {{ component.supplier }}, audio hardware, component specs, modular synth kits, DIY synth schematics
{% endblock keywords %}

{% block content %}
  <div class="container py-6 mx-auto">
    <h1 class="pt-6 pb-10 text-4xl font-bold font-display">{{ component.description }}</h1>
    <table class="min-w-full bg-white border-collapse">
      <thead>
        <tr>
          <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Attribute</th>
          <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Value</th>
        </tr>
      </thead>
      <tbody>
        {% if component.manufacturer %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Manufacturer</td>
          <td class="px-4 py-2">{{ component.manufacturer }}</td>
        </tr>
        {% endif %}
    
        {% if component.manufacturer_part_no %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Manufacturer Part No</td>
          <td class="px-4 py-2">{{ component.manufacturer_part_no }}</td>
        </tr>
        {% endif %}
    
        {% if component.get_mounting_style_display %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Mounting Style</td>
          <td class="px-4 py-2">{{ component.get_mounting_style_display }}</td>
        </tr>
        {% endif %}
    
        {% if category and category.full_path %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Category</td>
          <td class="px-4 py-2">{{ category.full_path }}</td>
        </tr>
        {% endif %}
    
        {% if size and size.full_path %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Size Standard</td>
          <td class="px-4 py-2">{{ size.full_path }}</td>
        </tr>
        {% endif %}
    
        {% if component.ohms %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Ohms</td>
          <td class="px-4 py-2">{{ component.ohms }} {{ component.ohms_unit }}</td>
        </tr>
        {% endif %}
    
        {% if component.farads %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Farads</td>
          <td class="px-4 py-2">{{ component.farads }} {{ component.farads_unit }}</td>
        </tr>
        {% endif %}
    
        {% if component.voltage_rating %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Voltage Rating</td>
          <td class="px-4 py-2">{{ component.voltage_rating }}</td>
        </tr>
        {% endif %}
    
        {% if component.tolerance %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Tolerance</td>
          <td class="px-4 py-2">{{ component.tolerance }}</td>
        </tr>
        {% endif %}
    
        {% if component.discontinued %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Discontinued</td>
          <td class="px-4 py-2">{{ component.discontinued }}</td>
        </tr>
        {% endif %}
    
        {% if component.notes %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Notes</td>
          <td class="px-4 py-2">{{ component.notes }}</td>
        </tr>
        {% endif %}
    
        {% if component.octopart_url %}
        <tr class="border-b">
          <td class="px-4 py-2 font-bold">Octopart Link</td>
          <td class="px-4 py-2">
            <a href="{{ component.octopart_url }}" class="text-blue-500 hover:underline">More Info</a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class="container pt-6 mx-auto">
    {% if component.editor_content %}
      <div class="pb-6 editor-content">
        {{ component.editor_content | editorjs }}
      </div>
    {% elif component.type.name == "Resistor" %}
      <div class="pb-6">
        <h2 class="pb-4 text-2xl font-bold">Understanding Resistors</h2>
        <p>
          A resistor is a fundamental component in electronics, widely used to limit the flow of electric current and manage voltage in a circuit. This resistor has a resistance of <strong>{{ component.ohms }} {{ component.ohms_unit }}</strong>, 
          {% if component.tolerance %} with a tolerance of <strong>{{ component.tolerance }}</strong>{% endif %}, 
          which indicates how closely the actual resistance value aligns with the nominal value. 
          {% if component.voltage_rating %}It has a voltage rating of <strong>{{ component.voltage_rating }}</strong>, defining the maximum voltage it can safely handle.{% endif %}
          {% if component.size %} Packaged in the <strong>{{ component.size.full_path }}</strong> size, this resistor is {% if component.size.name == "0805" %}a surface-mount type suited for compact PCBs{% else %}a {% if "through-hole" in component.size.full_path|lower %}through-hole{% else %}custom{% endif %} resistor, ideal for prototyping and ease of soldering{% endif %}.{% endif %}
          Below are its equivalent resistance values in other units:
        </p>
        <ul style="list-style-type: disc" class="pl-6">
          {% if component.ohms_unit == "Ω" %}
            <li>{{ component.ohms|floatformat:2 }} ohms (Ω)</li>
            <li>{{ component.ohms|add:0.0|floatformat:2 }} / 1000 kilohms (kΩ)</li>
            <li>{{ component.ohms|add:0.0|floatformat:2 }} / 1000000 megohms (MΩ)</li>
          {% elif component.ohms_unit == "kΩ" %}
            <li>{{ component.ohms|floatformat:2 }} kilohms (kΩ)</li>
            <li>{{ component.ohms|add:0.0 }} * 1000 ohms (Ω)</li>
          {% elif component.ohms_unit == "MΩ" %}
            <li>{{ component.ohms|floatformat:2 }} megohms (MΩ)</li>
            <li>{{ component.ohms|add:0.0 }} * 1000000 ohms (Ω)</li>
          {% endif %}
        </ul>
        <p>
          {% if component.size and component.size.name == "0805" %}
          Its compact size makes it ideal for modern PCB designs with limited space requirements.
          {% else %}
          Its robust build supports flexible configurations and prototyping setups.
          {% endif %}
          In audio electronics, resistors are indispensable for tasks like setting bias voltages, dividing signal levels, and stabilizing current flow. This makes them essential in applications ranging from synthesizers to Eurorack modules, where precision and reliability are paramount.
        </p>
      </div>
    {% elif component.type.name == "Capacitor" %}
      <div class="pb-6">
        <h2 class="pb-4 text-2xl font-bold">Understanding Capacitors</h2>
        <p>
          A capacitor is a versatile electronic component that stores and releases electrical energy, making it vital in applications like signal filtering and power management. This capacitor has a capacitance of <strong>{{ component.farads }} {{ component.farads_unit }}</strong>, 
          {% if component.tolerance %}with a tolerance of <strong>{{ component.tolerance }}</strong>{% endif %}, 
          {% if component.voltage_rating %}and a voltage rating of <strong>{{ component.voltage_rating }}</strong>, ensuring safe operation within these limits.{% endif %}
          Below are equivalent capacitance values in different units:
        </p>
        <ul style="list-style-type: disc" class="pl-6">
          {% if component.farads_unit == "pF" %}
            <li>{{ component.farads|floatformat:2 }} picofarads (pF)</li>
            <li>{{ component.farads|add:0.0 }} / 1000 nanofarads (nF)</li>
            <li>{{ component.farads|add:0.0 }} / 1000000 microfarads (μF)</li>
          {% elif component.farads_unit == "nF" %}
            <li>{{ component.farads|floatformat:2 }} nanofarads (nF)</li>
            <li>{{ component.farads|add:0.0 }} * 1000 picofarads (pF)</li>
          {% elif component.farads_unit == "μF" %}
            <li>{{ component.farads|floatformat:2 }} microfarads (μF)</li>
            <li>{{ component.farads|add:0.0 }} * 1000000 picofarads (pF)</li>
          {% endif %}
        </ul>       
        <p>
          Capacitors come in various types, such as <strong>ceramic capacitors</strong>, which are cost-effective and ideal for high-frequency applications, <strong>electrolytic capacitors</strong>, known for their high capacitance values for power smoothing, and <strong>film capacitors</strong>, prized for their reliability and precision in audio applications. 
          {% if component.size %}Packaged in the <strong>{{ component.size.full_path }}</strong> size, it {% if component.size.name == "0805" %}is a surface-mount capacitor perfect for compact PCBs{% else %}fits a variety of configurations, including modular synth circuits and audio processing units{% endif %}.{% endif %}
        </p>
        <p>
          Capacitors are essential in synthesizers and Eurorack modules, providing functions like coupling signals, filtering noise, and stabilizing power supplies. Their versatility and reliability make them a cornerstone of high-quality DIY audio projects.
        </p>
      </div>
    {% else %}
      <p>No additional content is available for this component.</p>
    {% endif %}
  </div>
  
  <div class="container pt-6 mx-auto">
    <div class="container py-6 mx-auto">
      <h2 class="pt-6 pb-10 text-2xl font-bold font-display">Suppliers for {{ component.description }}</h2>
      <table class="min-w-full bg-white border-collapse">
        <thead>
          <tr>
            <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Supplier</th>
            <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Supplier Item Number</th>
            <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Estimated Price</th>
            <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Link</th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in suppliers %}
          <tr class="border-b">
            <td class="px-4 py-2">{{ supplier.supplier }}</td>
            <td class="px-4 py-2">{{ supplier.supplier_item_no }}</td>
            <td class="px-4 py-2">{{ supplier.unit_price }}</td>
            <td class="px-4 py-2">
              <a href="{{ supplier.link }}" class="text-blue-500 hover:underline" target="_blank">View</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>    
  </div>
  <div class="container py-6 mx-auto">
    <h2 class="pt-6 pb-10 text-2xl font-bold font-display">Projects using {{ component.description }}</h2>
    <table class="min-w-full bg-white border-collapse">
      <thead>
        <tr>
          <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Module</th>
          <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Manufacturer</th>
          <th class="px-4 py-2 text-sm font-bold text-left bg-gray-200">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for module_item in modules %}
          <tr class="border-b">
            <td class="px-4 py-2">
              <a href="{% url 'module-detail' module_item.slug %}"
                 class="text-blue-500 hover:underline">{{ module_item.module.name }}</a>
            </td>
            <td class="px-4 py-2">{{ module_item.module.manufacturer.name }}</td>
            <td class="px-4 py-2">{{ module_item.quantity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Comments Section -->
  <div class="row justify-content-center flex-fill">
    <div class="col-8">
      <div id="comments">
        {% get_comment_count for component as comment_count %}
        {% if comment_count %}<h2 class="text-center">There is {{ comment_count }} comment below.</h2>{% endif %}
        {% if component.allow_comments %}
          <div class="p-6 mb-5 card card-block">
            <div class="card-body">
              <h2 class="pt-6 pb-10 text-xl font-semibold text-left card-title font-display">Community Comments</h2>
              {% render_comment_form for component %}
            </div>
          </div>
        {% else %}
          <h2 class="mt-4 mb-5 text-center text-secondary">Comments are disabled on this page.</h2>
        {% endif %}
        {% if comment_count %}
          {% render_comment_list for component %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra-js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.3.1/umd/react.production.min.js"
          integrity="sha512-QVs8Lo43F9lSuBykadDb0oSXDL/BbZ588urWVCRwSIoewQv/Ewg1f84mK3U790bZ0FfhFa1YSQUmIhG+pIRKeg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.3.1/umd/react-dom.production.min.js"
          integrity="sha512-6a1107rTlA4gYpgHAqbwLAtxmWipBdJFcq8y5S/aTge3Bp+VAklABm2LO+Kg51vOWR9JMZq1Ovjl5tpluNpTeQ=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js"
          integrity="sha512-skYYbQHAuOTpeJTthhUH3flZohep8blA+qjZOY0VqmfXMDiYcWxu29F5UbxU4LxaIpGkRBk+3Qf8qaXfd9jngg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"></script>
  <script>
  window.comments_props = {% get_commentbox_props for component %};
  window.comments_props_override = {
      allow_comments: {%if component.allow_comments%}true{%else%}false{%endif%},
      allow_feedback: true,
      show_feedback: true,
      allow_flagging: true,
      polling_interval: 5000  // In milliseconds.
  };
  </script>
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  <script src="{% static 'django_comments_xtd/js/django-comments-xtd-2.10.0.js' %}"></script>
  <script>
  window.addEventListener('DOMContentLoaded', (_) => {
    const tooltipQs = '[data-bs-toggle="tooltip"]';
    const tooltipList = document.querySelectorAll(tooltipQs);
    [...tooltipList].map(el => new bootstrap.Tooltip(el, {html: true}));
  });
  </script>
{% endblock extra-js %}
