<div  class="grid w-screen grid-cols-3 gap-4 px-6 py-10 sm:px-24 lg:px-48 bg-gray-50">
    <div>
        <h1 class="mb-1 font-semibold text-gray-900">About</h1>
        <ul class="text-sm text-gray-600 list-none">
            <li>
                <a href="/faq/" class="text-gray-400 hover:text-gray-700">FAQ</a>
            </li>
            <li>
                <a href="#" class="text-gray-400 hover:text-gray-700">Terms of Service</a>
            </li>
            <li>
                <a href="#" class="text-gray-400 hover:text-gray-700">Privacy Policy</a>
            </li>
            <li>
                <a href="{% url 'disclaimer' %}" class="text-gray-400 hover:text-gray-700">Disclaimer</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <h1 class="mb-1 font-semibold text-gray-900">Account</h1>
            <ul class="text-sm text-gray-600 list-none">
                <li>
                    <a href="/accounts/login/" class="text-gray-400 hover:text-gray-700">Login</a>
                </li>
            </ul>
        </div>
        <div>
            <h1 class="sr-only">Contact</h1>
            <ul class="text-sm text-gray-600 list-none">
                <li>
                    <a href="{% url 'contact' %}"
                       class="mt-4 text-gray-400 hover:text-gray-700">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <!--Email subscription Form -->
        <form method="post" action="{% url 'subscription' %}">
            {% csrf_token %}
    
            <div class="form-group">
            <label>Subscribe for updates</label> <br>
            <input type="email" name="email" placeholder="Enter Email to Subscribe">
            <button class="px-4 py-2 mt-8 text-white rounded bg-brandgreen-500 hover:bg-brandgreen-700" type="submit">Submit</button>
            </div>
    
        </form>
  
        <!-- message if email is sent -->
        {% if messages %}
        {% for message in messages %}
            <div class="my-5 alert alert-success">
            <h5 class="m-0">
                {{ message }}
            </h5>
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <div>
        <h1 class="mb-1 font-semibold text-gray-900">Support</h1>
        <ul class="text-sm text-gray-600 list-none">
            <li>
                <a href="https://ko-fi.com/bomsquad" class="text-gray-400 hover:text-gray-700">Support</a>
            </li>
            <li>
                <a href="https://github.com/PleatherStarfish/bomsquad" class="text-gray-400 hover:text-gray-700">Contribute on GitHub</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <a href="https://www.itsnicethat.com/news/resources-supporting-black-lives-matter-movement-creative-industry-010620"
               target="_blank"
               class="text-gray-400 hover:text-gray-700">Black lives matter.</a>
        </div>
    </div>
    <div>
    </div>
</div>
