<div  class="py-10 px-6 sm:px-24 lg:px-48 grid grid-cols-3 gap-4 w-screen bg-gray-50">
    <div>
        <h1 class="font-semibold text-gray-900 mb-1">About</h1>
        <ul class="list-none text-sm text-gray-600">
            <li>
                <a href="/faq/" class="text-gray-400 hover:text-gray-700">FAQ</a>
            </li>
            <li>
                <a href="#" class="text-gray-400 hover:text-gray-700">Terms of Service</a>
            </li>
            <li>
                <a href="#" class="text-gray-400 hover:text-gray-700">Privacy Policy</a>
            </li>
            <li>
                <a href="{% url 'disclaimer' %}" class="text-gray-400 hover:text-gray-700">Disclaimer</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <h1 class="font-semibold text-gray-900 mb-1">Account</h1>
            <ul class="list-none text-sm text-gray-600">
                <li>
                    <a href="/accounts/login/" class="text-gray-400 hover:text-gray-700">Login</a>
                </li>
            </ul>
        </div>
        <div>
            <h1 class="sr-only">Contact</h1>
            <ul class="list-none text-sm text-gray-600">
                <li>
                    <a href="mailto:info@bom-squad.com"
                       class="text-gray-400 hover:text-gray-700 mt-4">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div></div>
    <div>
        <h1 class="font-semibold text-gray-900 mb-1">Support</h1>
        <ul class="list-none text-sm text-gray-600">
            <li>
                <a href="#" class="text-gray-400 hover:text-gray-700">Donate</a>
            </li>
            <li>
                <a href="https://github.com/PleatherStarfish/bomsquad" class="text-gray-400 hover:text-gray-700">Contribute to the project on GitHub</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <a href="https://www.itsnicethat.com/news/resources-supporting-black-lives-matter-movement-creative-industry-010620"
               target="_blank"
               class="text-gray-400 hover:text-gray-700">Black lives matter.</a>
        </div>
    </div>
    <div></div>
</div>
