<div class="grid gap-6 px-4 py-8 sm:grid-cols-2 sm:gap-4 sm:px-12 lg:grid-cols-3 lg:gap-4 lg:px-48 bg-gray-50">
    <!-- Subscription Form Section, at the top on mobile, right column on desktop -->
    <div class="order-first mb-8 text-center lg:mb-0 col-span-full lg:col-span-1 lg:row-start-1 lg:col-start-3 lg:text-left lg:order-none">
        <form method="post" action="{% url 'subscription' %}" class="flex flex-col items-center lg:items-start">
            {% csrf_token %}
            <label class="block mb-2 font-semibold text-gray-900">Subscribe for updates</label>
            <input type="email" name="email" placeholder="Enter Email to Subscribe" class="w-3/5 p-2 mb-4 border border-gray-300 rounded lg:w-4/5">
            <button class="w-2/5 px-4 py-2 text-white rounded lg:w-auto bg-brandgreen-500 hover:bg-brandgreen-700" type="submit">Submit</button>
        </form>
        {% if messages %}
            <div class="my-4 alert alert-success">
                {% for message in messages %}
                    <h5 class="m-0 text-sm text-gray-600">{{ message }}</h5>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- About Section -->
    <div class="text-center lg:text-left">
        <h1 class="mb-1 font-semibold text-gray-900">About</h1>
        <ul class="space-y-2 text-sm text-gray-600 list-none">
            <li><a href="/faq/" class="text-gray-400 hover:text-gray-700">FAQ</a></li>
            <li><a href="/tos/" class="text-gray-400 hover:text-gray-700">Terms of Service</a></li>
            <li><a href="/privacy-policy/" class="text-gray-400 hover:text-gray-700">Privacy Policy</a></li>
            <li><a href="{% url 'disclaimer' %}" class="text-gray-400 hover:text-gray-700">Disclaimer</a></li>
        </ul>
    </div>

    <!-- Account and Contact Section -->
    <div class="text-center lg:text-left">
        <div>
            <h1 class="mb-1 font-semibold text-gray-900">Account</h1>
            <ul class="space-y-2 text-sm text-gray-600 list-none">
                <li><a href="/accounts/login/" class="text-gray-400 hover:text-gray-700">Login</a></li>
            </ul>
        </div>
        <div>
            <h1 class="sr-only">Contact</h1>
            <ul class="mt-4 space-y-2 text-sm text-gray-600 list-none">
                <li><a href="{% url 'contact' %}" class="text-gray-400 hover:text-gray-700">Contact</a></li>
            </ul>
        </div>
    </div>

    <!-- Support Section -->
    <div class="text-center lg:text-left">
        <h1 class="mb-1 font-semibold text-gray-900">Support</h1>
        <ul class="space-y-2 text-sm text-gray-600 list-none">
            <li><a href="https://ko-fi.com/bomsquad" class="text-gray-400 hover:text-gray-700">Donate</a></li>
            <li><a href="https://github.com/PleatherStarfish/bomsquad" class="text-gray-400 hover:text-gray-700">Contribute on GitHub</a></li>
        </ul>
    </div>

    <!-- Black Lives Matter Section -->
    <div class="text-center lg:text-left">
        <a href="https://www.itsnicethat.com/news/resources-supporting-black-lives-matter-movement-creative-industry-010620" target="_blank" class="text-gray-400 hover:text-gray-700">Black lives matter.</a>
    </div>
</div>
