{% load static custom_tags %}

<nav class="fixed top-0 w-full bg-[#212529] z-30">
  <div class="px-8 mx-auto">
    <div class="relative hidden md:block">
      <a href="{% url 'home' %}">
        {% with request.path|slice:":5" as path %} 
        {% if path == '/user' %}
        <picture>
            <source srcset="{% static 'images/logo_mini.webp' %}" type="image/webp">
            <source srcset="{% static 'images/logo_mini.png' %}" type="image/png">
            <img
                class="absolute top-2.5 left-[-20px] hidden sm:block"
                height="70px"
                width="70px"
                src="{% static 'images/logo_mini.png' %}"
                alt="Bom Squad Logo"
            />
        </picture>
        {% else %}
        <picture>
            <source srcset="{% static 'images/logo.webp' %}" type="image/webp">
            <source srcset="{% static 'images/logo.png' %}" type="image/png">
            <img
                id="the_logo"
                class="absolute hidden top-3 sm:block"
                height="180px"
                width="180px"
                src="{% static 'images/logo.png' %}"
                alt="Bom Squad Logo"
            />
        </picture>
        {% endif %} 
        {% endwith %}
      </a>
    </div>

    <div class="relative flex items-center justify-between h-16">
      <div
        class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start"
      >
        <div class="hidden h-16 md:block">
          {% with request.path|slice:":5" as path %} 
          {% if path == '/user' %}
          <ul class="flex space-x-3 text-white hover:text-gray-200 ml-[60px] h-16">
            <li>
              <button
                onclick="window.location.href='{% url 'home' %}'"
                class="flex flex-col justify-center h-full px-2 nav-link text-secondary"
                type="button"
              >
                <i class="bi bi-house"></i>
              </button>
            </li>
            <li>
              <button
                onclick="window.location.href='/projects/'"
                class="flex flex-col justify-center h-full px-2 nav-link text-secondary"
                type="button"
              >
                <span>Projects</span>
              </button>
            </li>
            <li>
              <button
                onclick="window.location.href='/components/'"
                class="flex flex-col justify-center h-full px-2 nav-link text-secondary"
                type="button"
              >
                <span>Components</span>
              </button>
            </li>

            <!-- Resources Dropdown -->
            <li class="relative group/resources">
              <button
                class="flex items-center h-full gap-2 px-2 text-white menu-button-hover nav-link hover-dropdown-menu"
                aria-expanded="false"
                type="button"
              >
                <span>Resources</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="12"
                  fill="currentColor"
                  class="transition-transform duration-200 group-hover/resources:rotate-180 bi bi-caret-down-fill dropdown-caret"
                  viewBox="0 0 14 14"
                >
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
              </button>
              <div
                class="absolute left-0 hidden mt-0 text-white bg-[#212529] rounded-b shadow-lg group-hover/resources:block"
              >
                <ul class="mt-2">
                  <li>
                    <a
                      href="{% url 'about' %}"
                      class="block py-3 px-9 hover:bg-[#2c3237]"
                    >
                      About
                    </a>
                  </li>
                  <li>
                    <a
                      href="/community/"
                      class="block py-3 px-9 hover:bg-[#2c3237]"
                    >
                      Community
                    </a>
                  </li>
                  <li class="relative group/tools">
                    <button
                      class="flex items-center w-full py-3 px-9 text-left hover:bg-[#2c3237]"
                      type="button"
                    >
                      Tools
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="12"
                        fill="currentColor"
                        class="ml-2 transition-transform duration-200 bi bi-caret-right-fill dropdown-caret"
                        viewBox="0 0 14 14"
                      >
                        <path
                          d="M5.86 1.051 11.543 7 5.86 12.949A.5.5 0 0 1 5 12.5V1.5a.5.5 0 0 1 .86-.449z"
                        />
                      </svg>
                    </button>
                    <!-- Submenu -->
                    <ul
                      class="absolute left-full top-0 hidden bg-[#2c3237] text-white rounded shadow-lg group-hover/tools:block ml-1"
                    >
                      <li>
                        <a
                          href="/tools/resistor-calculator/"
                          class="block py-3 px-9 hover:bg-[#3a3f44]"
                        >
                          Resistor for LED Calculator
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>            
          </ul>
          {% else %}
          <ul class="flex space-x-3 text-white hover:text-gray-200 ml-[200px] h-16">
            <li>
              <button
                onclick="window.location.href='{% url 'home' %}'"
                class="flex flex-col justify-center h-full px-2 nav-link text-secondary"
                type="button"
              >
                <i class="bi bi-house"></i>
              </button>
            </li>
            <li>
              <button
                onclick="window.location.href='/projects/'"
                class="flex flex-col justify-center h-full px-2 nav-link text-secondary"
                type="button"
              >
                <span>Projects</span>
              </button>
            </li>
            <li>
              <button
                onclick="window.location.href='/components/'"
                class="flex flex-col justify-center h-full px-2 nav-link text-secondary"
                type="button"
              >
                <span>Components</span>
              </button>
            </li>
            <li>
              <button
                onclick="window.location.href='/blog/'"
                class="flex flex-col justify-center h-full px-2 nav-link text-secondary"
                type="button"
              >
                <span>Blog</span>
              </button>
            </li>

            <!-- Resources Dropdown -->
            <li class="relative group/resources">
              <button
                class="flex items-center h-full gap-2 px-2 text-white align-middle nav-link"
                aria-expanded="false"
                type="button"
              >
                <span>Resources</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="12"
                  fill="currentColor"
                  class="transition-transform duration-200 group-hover/resources:rotate-180 bi bi-caret-down-fill dropdown-caret"
                  viewBox="0 0 14 14"
                >
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
              </button>
              <div class="absolute left-0 hidden mt-0 text-white bg-[#212529] rounded-b shadow-lg group-hover/resources:block">
                <ul>
                  <li>
                    <a href="{% url 'about' %}" class="block py-3 px-9 hover:bg-[#2c3237]">
                      About
                    </a>
                  </li>
                  <li>
                    <a href="/community/" class="block py-3 px-9 hover:bg-[#2c3237]">
                      Community
                    </a>
                  </li>
                  <li class="relative group/tools">
                    <button
                      class="flex items-center w-full py-3 px-9 text-left hover:bg-[#2c3237] hover-dropdown-menu"
                      type="button"
                    >
                      Tools
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="12"
                        fill="currentColor"
                        class="ml-2 transition-transform duration-200 bi bi-caret-right-fill dropdown-caret"
                        viewBox="0 0 14 14"
                      >
                        <path d="M5.86 1.051 11.543 7 5.86 12.949A.5.5 0 0 1 5 12.5V1.5a.5.5 0 0 1 .86-.449z" />
                      </svg>
                    </button>
                    <!-- Submenu -->
                    <ul
                      class="absolute left-full top-0 hidden bg-[#2c3237] text-white rounded shadow-lg group-hover/tools:block ml-1"
                    >
                      <li>
                        <a
                          href="/tools/resistor-calculator/"
                          class="block py-3 px-6 hover:bg-[#3a3f44]"
                        >
                          Resistor for LED Calculator
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          {% endif %} 
          {% endwith %}
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 items-center hidden pr-2 md:flex sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Profile dropdown -->
        <div class="relative text-end">
          {% if user.is_authenticated %} 
            <div class="relative text-end">
                {% dropdown_items user as dropdown_items %}
                {% include "components/dropdown_menu.html" with button_text=user.email dropdown_items=dropdown_items %}                
            </div>
          {% else %}
            <div class="flex items-center space-x-2">
                <div class="flex items-center pr-4 space-x-4 border-r border-gray-100">
                    <a href="https://ko-fi.com/bomsquad">
                        <img
                          class="transition-opacity duration-200 hover:opacity-90"
                          width="150px"
                          src="{% static 'images/kofi_button_blue.png' %}"
                          alt="Support on Ko-fi"
                        />
                    </a>
                    <div style="margin-left: 4px" class="relative">
                        <select
                          id="currency-selector"
                          class="px-3 py-2 text-white bg-[#212529] transition-all border-0 w-[65px] outline-none"
                          onchange="updateCurrency(this.value)"
                        >
                            <!-- Add options dynamically with JavaScript -->
                        </select>
                        <span
                          class="absolute inset-y-0 flex items-center text-gray-400 pointer-events-none right-3"
                        >
                        </span>
                    </div>
                </div>
                <a
                  href="{% url 'account_login' %}"
                  class="text-white py-2 px-4 inline-flex items-center border rounded border-[#212529] hover:border-gray-300 transition-all duration-200"
                  >Log in</a
                >
                <a
                  href="{% url 'account_signup' %}"
                  class="text-white py-2 px-4 inline-flex items-center border rounded border-[#212529] hover:border-gray-300 transition-all duration-200"
                  >Sign up</a
                >
            </div>
          {% endif %}
        </div>
      </div>
      {% include "components/mobile_hamburger_menu.html" %}
    </div>
  </div>
</nav>