@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    #sentry-feedback {
        --background: #1f2327;
        --submit-background: #518467;
        --submit-border: #518467;
    }

    #parallax-image {
        height: auto;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: -200px;
        width: 180%;
      }

      .widget__actor {
        color: #ebe6ef !important;
      }
      
      @media (min-width: 1040px) {
        #parallax-image {
          position: absolute;
          top: -100px; /* Larger offset for large screens */
          left: 0;
          width: 150%; /* Standard width on larger screens */
          height: auto; /* Maintain aspect ratio */
          object-fit: cover;
        }
      }

      @media (min-width: 1300px) {
        #parallax-image {
          position: absolute;
          top: -200px; /* Larger offset for large screens */
          left: 0;
          width: 100%; /* Standard width on larger screens */
          height: auto; /* Maintain aspect ratio */
          object-fit: cover;
        }
      }
      

    @keyframes gradient-hover {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
      .group-hover:animate-gradient-hover {
        background-size: 200% 200%;
        animation: gradient-hover 3s ease infinite;
      }

    .rdt_Table {
        z-index: 0 !important;
        max-height: none !important;
    }
    .rdt_TableBody {
        max-height: none !important;
    }
    .rdt_TableHead {
        z-index: 0 !important;
    }
    .rdt_TableRow {
        z-index: 1 !important;
    }
    .rdt_TableCol {
        z-index: 1 !important;
    }
    .rdt_TableHeader {
        z-index: 1 !important;
    }
    .rdt_TableFooter {
        z-index: 1 !important;
    }
    .rdt_TableHeadRow {
        z-index: 1 !important;
    }
    #shopping-list-slice-state-table .rdt_TableHeadRow {
        border: 0 !important;
    }
    #table__wrapper > div:first-child {
        max-height: none !important;
    }
}

@layer components {

    /* Homepage Grid Layout */
    .homepage-grid {
        @apply grid p-6;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr 1fr auto;
        grid-template-areas:
            "header header header"
            "projects projects projects"
            "left middle right"
            "info1 info1 info1"
            "info2 info2 footer";
    }

    .header-section {
        grid-area: header;
    }

    .projects-section {
        grid-area: projects;
    }

    .left-info-box {
        grid-area: left;
    }

    .middle-info-box {
        grid-area: middle;
    }

    .right-info-box {
        grid-area: right;
    }

    .info1-section {
        grid-area: info1;
    }
    
    .info2-section {
        grid-area: info2;
    }
    
    .footer-section {
        grid-area: footer;
    }

    /* Responsive Adjustments for Small Screens */
    @media (max-width: 640px) {
        .homepage-grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto auto auto auto auto;
            grid-template-areas:
                "header header"
                "projects projects"
                "left left"
                "middle middle"
                "right right"
                "info1 info1"
                "info2 info2"
                "footer footer";
        }
    }

    .chevron-open {
        transform: translateY(-50%) rotate(180deg) !important;
    }

    .table-of-contents {
        @apply p-5 mb-5 bg-gray-100 rounded-lg;
    }

    .table-of-contents h2 {
        @apply mb-3 text-xl font-semibold;
    }

    .table-of-contents ul {
        @apply p-0 list-none;
    }

    .table-of-contents a {
        @apply block p-2 mb-1 font-bold text-blue-500 no-underline;
    }

    .table-of-contents ul ul a {
        @apply pl-5 font-normal;
    }

    .table-of-contents a:hover {
        @apply text-blue-700;
    }

@media (min-width: 1024px) {
    @layer components {
        .table-of-contents {
            @apply float-right w-1/4 ml-5;
        }
    }
}
}